*.aux
*.bbl
*.fls
*.lof
*.mtc*
*.pdf
*.rtf
log.txt
*.mat
*.maf
*.bcf
*.doc
*.log
*.out
*.ptc
*.blg
*.tdo
*.toc
*.fdb*
*.run*
*.synctex*
*.pygtex*
*.pyc
*.pygstyle
*.lot
*.*~
*.These.func*
_minted-These/
/ignore
*.odt
/OLD/
.idea
scripts/project/
scripts/target/
scripts_old/
