*.aux
*.bbl
*.fls
*.lof
*.mtc*
*.pdf
*.rtf
log.txt
*.mat
*.maf
*.bcf
*.doc
*.log
*.out
*.ptc
*.blg
*.tdo
*.toc
*.fdb*
*.run*
*.synctex*
*.pygtex*
*.pygstyle
*.lot
*.*~
/ignore
*.odt
/old_tex/
.idea
scripts/project/
scripts/target/
